<header>
	<h1>
		Today's Support Hero is "<%= @todays_hero.name %>"
	</h1>
</header>

<form action="/show" method="get">
	<input type="text" placeholder="Enter your name to see your schedule and make changes" name="name" />
	<input type="submit" value="Submit" />
</form>




<%= render 'partials/calendar' %>

