// Place all the styles related to the DayAssignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.swap-form {
	display: none;
}

.swap-form form input {
	display: block;
}

.swap-form form input[type="submit"] {
	padding: 5px;
	width: 150px;
}


 