// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header, h1, h2, h3, h4, h5, h6, input {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100px;
	background: rgb(123,165,199);

}

.header-phrase {
	padding-top: 24px;
}

header h1 {
	text-align: center;
	padding-top: 4px;
	color: rgb(252,247,246);
}

ul {
	list-style-type: none;
}

ul li {
	text-indent: -40px;
}

.title-wrapper {
	width: 90%;
	margin: auto;
}

.title-wrapper h3 {
	padding-top: 10px;

}

.title-wrapper h3 a {
	text-decoration: none;
	color: white;
}


.title-wrapper h3 a:hover {
	color: grey;
}

/*info area*/

span.orange {
	background: rgba(240,106,75,1);
	color: black;
}

.information {
	width: 90%;
	margin: auto;
	display: flex;
}

.eq-w {
	flex: 1;
}
/* error messages */

.errors {
	width: 100%;
	height: 70px;
	background: #DA3232;
	text-align: center;
	padding-top: 12px;
}

.errors p {
	color: white;
	font-size: 1.2em;
}

/* success messages */

.notice {
	width: 100%;
	height: 70px;
	background: green;
	text-align: center;
	padding-top: 12px;
}

.notice p {
	color: white;
	font-size: 1.2em;
}


/*find form*/

.form-container {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}
.form-container form {
	display: flex;
}

.form-container input[type='text'] {
	width: 80%;
	height: 40px;
	/*font-size: 20px;*/
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-container input[type='submit'] {
	display: inline;
	width: 20%;
	height: 40px;
	padding: 0;
	margin: 0;
	/*font-size: 20px;*/
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




.user_box {
	/*display: none;*/
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.5);
}

.hidden {
	display: none !important;
}

.cant-do {
	margin: 0;
	padding: 0;
display: none;
	max-width: 111px;

}

.cant-do form {
	display: inline-block;
}











