// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header, h1, h2, h3, h4, h5, h6, input {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100px;
	background: lightgrey;
	text-align: center;

}

header h1 {
	padding-top: 24px;
	color: black;
}

/*find form*/

.form-container {
	width: 90%;
	margin: auto;
	padding: 10px 0;
}

.form-container input[type='text'] {
	width: 80%;
	height: 40px;
	font-size: 20px;
}

.form-container input[type='submit'] {
	display: inline-block;
	width: 19%;
	padding: 20px;
	font-size: 20px;
}




.user_box {
	/*display: none;*/
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,0.5);
}

.hidden {
	display: none !important;
}

.cant-do {
	margin: 0;
	padding: 0;
	display: none;
	max-width: 111px;

}

.cant-do form {
	display: inline-block;
}









